<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Tic Tac Toe</a>
        </div>
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form method = "post">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Play</a></li>
                    <li class="active"><a href="/home">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-left" style="background: deepskyblue">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/" name=register" class="link-danger">Login</a></li>
                    <li><a href="/register" name=register" class="link-danger">Register</a></li>
                    <li><a href="?exit=true">Contact us</a></li>
                    <li><button class="link-danger" style = "background-color: black ; color:white ;height:50px ; width: 70px  ; border:none" name ="logout" value="logout">Logout</button></li>
                </ul>
                </form>
            </div>

        </div>

</nav>