<head>
    <meta charset="UTF-8">
    <title>Морски шах</title>
    <link rel="stylesheet"  type="text/css" href="./assets/login.css"/>
    <link rel="stylesheet" type="text/css" href="./assets/bootstrap.min.css"/>
</head>

<body>
   {{ include ('LoginNav.html.twig') }}
   </body>
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image" style = "margin-left:400px">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1" style = "margin-top:110px ;">
                <form method="post">
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start" style="margin-left: 150px">
                        <p class="lead fw-normal mb-0 me-3" >Register</p>
                    </div>
                    <p class="lead fw-normal mb-0 me-3 " style="color:red;">{{ error }} </p>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Email</label>
                        <input style = "width: 350px" type="email" name="email"  id="form3Example3" class="form-control form-control-lg" placeholder="Enter email " required/>
                    </div>
                    <!-- username input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">User</label>

                        <input style = "width: 350px" type="text" name="user"  id="form3Example3" class="form-control form-control-lg" placeholder="Enter uesrname" required/>
                    </div>
                    <!-- Password input -->
                    <div  class="form-outline mb-3">
                        <label class="form-label" for="form3Example4">Password</label>
                        <input style = "width: 350px" type="password" name = "password" id="form3Example4" class="form-control form-control-lg"placeholder="Enter password" required />
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3">
                                Remember me
                            </label>
                        </div>
                    </div>
                    <div style="margin-right: 850px" class="text-center text-lg-start mt-4 pt-2">
                        <button name="register" value="register" type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
        <div class="text-white mb-3 mb-md-0">
            @Evgeni Stoev
        </div>
    </div>
</section>